@import './common/_navbar';
@import './landingPage/_landing';
@import './common//_footer';

//site authentication
@import './siteAuthentication/_main';

//site dashboard
@import './dashboard/_main';

// @font-face {
//     font-family: 'Sora', sans-serif;
//     src:  url('../font/static/Sora-Regular.ttf'),
//     url('../font/static/Sora-Light.ttf'),
//     url('../font/static/Sora-Medium.ttf'),
//     url('../font/static/Sora-SemiBold.ttf'),
//     url('../font/static/Sora-Thin.ttf'),
//     url('../font/static/Sora-Bold.ttf')
//   }
// @import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    // font-family: 'Sora', sans-serif;
    font-family: 'Poppins', sans-serif;
    letter-spacing: .8px;
}

.modal-backdrop.show{
    opacity: .8;
}