@import '../utility/colors.scss';

@mixin inputFields {
    background: transparent;
    border: none;
    border-bottom: 1px solid #999999;
    padding-left: 25px;
    color: #999999;
}

.slice_signUp_section{
    background-image: linear-gradient(45deg, #000000, rgba(0,0,0,.85)), url('../../images/form-bg.png');
    background-size: cover;
    padding: 100px 0px;
    position: relative;
    height: 100%;

    &::before{
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #000000;
        z-index: -1;
    }

    .slice_signUp_form{
        background-image: radial-gradient(at top, #444444, #01041C);
        padding: 40px;
        border-radius: 10px;
        border-bottom: 5px solid #00ffe1b4;

        .slice_signUp_form_head{
            color: $commonText;
        }

        .slice_signUpForm{

            .email_field_div{

                svg{
                    color: #999999;
                    margin-bottom: -24px;
                }
            }

            .password_field_div{

                svg{
                    color: #999999;
                    margin-bottom: -24px;
                }
            }

            .select_country_field_div{

                svg{
                    color: #999999;
                    margin-bottom: -30px;
                }
            }

            .select_country_field_div{

                select{
                    background: transparent;
                    border: none;
                    border-bottom: 1px solid #999999;
                    padding-left: 25px;
                    color: #6c7475;
                    border-radius: 0px;

                    option{
                        background-color: #1d1e2d;  
                    }

                    &:focus{
                        box-shadow: none;
                    }
                }
            }

            input[type=text]{
                @include inputFields;

                &:focus-within{
                    outline: none;
                    border-bottom: 1px solid aqua;
                }
            }

            input[type=tel]{
                @include inputFields;

                &:focus-within{
                    outline: none;
                    border-bottom: 1px solid aqua;
                }
            }

            input[type=email]{
                @include inputFields;

                &:focus-within{
                    outline: none;
                    border-bottom: 1px solid aqua;
                }
            }

            input[type=password]{
                @include inputFields;

                &:focus-within{
                    outline: none;
                    border-bottom: 1px solid aqua;
                }
            }

            input[type=submit]{
                margin: 20px 0px;
                width: 100%;
                background-image: linear-gradient(45deg, #004E58, #007A70);
                color: $commonText;
                border: none;
                padding: 5px;
            }
        }

        .slice_signUp_form_foot{
            display: flex;
            justify-content: space-between;

            a{
                color: #999999;
                font-weight: 400;
                font-size: 14px;
                text-decoration: none;
            }
        }
    }
}